/* Alineación general y centrado vertical de los elementos */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* Flex para centrar todos los elementos horizontal y verticalmente */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Necesario para posicionar el vinilo relativo a la carátula */
}

/* Estilos de las carátulas de los discos */
.cover {
    width: 200px;
    height: 200px;
    background-color: grey;
    background-size: cover;
    z-index: 2; /* Las carátulas deben estar al frente */
}

/* Carátulas de los discos con sus respectivas imágenes */
.cover1 {
    background-image: url(../assets/imgs/cover1.jpeg);
}

.cover2 {
    background-image: url(../assets/imgs/cover2.jpeg);
}

.cover3 {
    background-image: url(../assets/imgs/cover3.png);
}

/* Estilos para los discos de vinilo */
.vinyl {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    right: -250px; /* Posicionado fuera del lado derecho inicialmente */
    transition: right 0.5s ease-in-out; /* Suaviza la transición al mostrarse */
    z-index: 1; /* El disco está detrás de la carátula */
}

/* Detalles del disco de vinilo */
.detail {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: plum;
}

.label {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: purple;
}

.hole {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
}

/* Cuando se añade la clase visible, el disco se mueve a la izquierda (apareciendo a la derecha de la carátula) */
.visible {
    right: 210px; /* Posición relativa al lado derecho de la carátula */
}
