.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos de las portadas de los discos */
.cover {
    width: 200px;
    height: 200px;
    background-color: grey;
    position: relative;
    z-index: 2;
    background-size: cover;
}

/* Portadas de los discos con imágenes específicas */
.cover1 {
    background-image: url(../assets/imgs/cover1.jpeg);
}

.cover2 {
    background-image: url(../assets/imgs/cover2.jpeg);
}

.cover3 {
    background-image: url(../assets/imgs/cover3.png);
}

/* Estilos para los discos de vinilo */
.vinyl {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-220px, 0); /* Aseguramos que esté fuera de vista inicialmente */
    transition: transform 0.5s ease-in-out; /* Suaviza la transición al mostrarse */
    z-index: 1; /* El disco está detrás de la portada */
}

/* Detalles del disco */
.detail {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: plum;
}

.label {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: purple;
}

.hole {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
}

/* Cuando la clase visible se añade, el disco aparece centrado */
.visible {
    transform: translate(0, 0);
}
