body {
    background-image: url('../img/bg.jpeg');
    margin: 0;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    max-width: 100%;
    height: auto;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.button {
    background-image: url('../img/bg_button3.avif');
    border-radius: 8px;
    border: none;
    color: rgba(255, 255, 255, 0.79);
    padding: 15px 32px;
    text-align: center;
    text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.80);
    font-size: 30px;
    font-family: 'Luminari', fantasy;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 1);
    cursor: pointer;
    transition: transform 0.3s ease; /* Efecto de escalado */
}

.button:hover {
    transform: scale(1.05); /* Efecto de escalado al pasar el ratón */
}

#cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 100%;
}

.card {
    width: 250px;
    height: 350px;
    background: linear-gradient(145deg, #1a1a1d, #0b0b0d);
    border-radius: 15px;
    border: 5px ridge #d4af37;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    position: relative;
    padding: 20px;
    text-align: center;
    color: #d4af37;
    font-family: 'Cinzel', serif;
    transition: transform 0.3s, box-shadow 0.3s; /* Transición suave */
}

.card:hover {
    transform: translateY(-5px); /* Efecto de levantamiento */
    box-shadow: 0 15px 30px rgba(255, 255, 0, 0.6);
}

.card-image {
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
}

.types {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #d4af37;
    border-radius: 0 0 5px 5px;
    text-align: center;
    color: black;
    height: 30px;
    font-size: 25px;
    font-family: 'Cinzel', serif;
}

.card-back {
    background: url('../img/bg_button3.avif');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    border-radius: 10px;
    color: black;
}

.back-content {
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
